<!-- Start cssSlider.com -->
<div class='csslider475 autoplay '>
    <input name="cs_anchor475" id='cs_slide475_0' type="radio" class='cs_anchor slide'>
    <input name="cs_anchor475" id='cs_slide475_1' type="radio" class='cs_anchor slide'>
    <input name="cs_anchor475" id='cs_slide475_2' type="radio" class='cs_anchor slide'>
    <input name="cs_anchor475" id='cs_slide475_3' type="radio" class='cs_anchor slide'>
    <input name="cs_anchor475" id='cs_slide475_4' type="radio" class='cs_anchor slide'>
    <input name="cs_anchor475" id='cs_play475' type="radio" class='cs_anchor' checked>
    <input name="cs_anchor475" id='cs_pause475_0' type="radio" class='cs_anchor pause'>
    <input name="cs_anchor475" id='cs_pause475_1' type="radio" class='cs_anchor pause'>
    <input name="cs_anchor475" id='cs_pause475_2' type="radio" class='cs_anchor pause'>
    <input name="cs_anchor475" id='cs_pause475_3' type="radio" class='cs_anchor pause'>
    <input name="cs_anchor475" id='cs_pause475_4' type="radio" class='cs_anchor pause'>
    <ul>
        <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
            <img src="data475/images/pillowslipschristina1400.jpg" style="width: 100%;">
        </div>
        <li class='num0 img'>
            <a href="pillow-slip.html" target=""><img src='data475/images/pillowslipschristina1400.jpg' alt='pillowslipschristina1400' title='pillowslipschristina1400' /> </a>
        </li>
        <li class='num1 img'>
            <a href="bed-makeover.html" target=""><img src='data475/images/tinbed1400rev.jpg' alt='tinbed1400rev' title='tinbed1400rev' /> </a>
        </li>
        <li class='num2 img'>
            <a href="tablecloth.html" target=""><img src='data475/images/tableclothswedding1400.jpg' alt='tableclothswedding1400' title='tableclothswedding1400' /> </a>
        </li>
        <li class='num3 img'>
            <a href="http://roughlinen.com/rough-linen-pinafore.html" target=""><img src='data475/images/pinaforepotter1400.jpg' alt='pinaforepotter1400' title='pinaforepotter1400' /> </a>
        </li>
        <li class='num4 img'>
            <a href="summer-cover.html" target=""><img src='data475/images/ostellsummer1400.jpg' alt='ostellsummer1400' title='ostellsummer1400' /> </a>
        </li>
    </ul>
    <a class="cs_lnk" href="http://cssslider.com">html5 slideshow</a>
    <div class='cs_play_pause'>
        <label class='cs_play' for='cs_play475'><span><i></i></span></label>
        <label class='cs_pause num0' for='cs_pause475_0'><span><i></i></span></label>
        <label class='cs_pause num1' for='cs_pause475_1'><span><i></i></span></label>
        <label class='cs_pause num2' for='cs_pause475_2'><span><i></i></span></label>
        <label class='cs_pause num3' for='cs_pause475_3'><span><i></i></span></label>
        <label class='cs_pause num4' for='cs_pause475_4'><span><i></i></span></label>
    </div>
    <div class='cs_arrowprev'>
        <label class='num0' for='cs_slide475_0'><span><i></i></span></label>
        <label class='num1' for='cs_slide475_1'><span><i></i></span></label>
        <label class='num2' for='cs_slide475_2'><span><i></i></span></label>
        <label class='num3' for='cs_slide475_3'><span><i></i></span></label>
        <label class='num4' for='cs_slide475_4'><span><i></i></span></label>
    </div>
    <div class='cs_arrownext'>
        <label class='num0' for='cs_slide475_0'><span><i></i></span></label>
        <label class='num1' for='cs_slide475_1'><span><i></i></span></label>
        <label class='num2' for='cs_slide475_2'><span><i></i></span></label>
        <label class='num3' for='cs_slide475_3'><span><i></i></span></label>
        <label class='num4' for='cs_slide475_4'><span><i></i></span></label>
    </div>
    <div class='cs_bullets'>
        <label class='num0' for='cs_slide475_0'>
            <span class='cs_point'></span>
            <span class='cs_thumb'><img src='data475/tooltips/pillowslipschristina1400.jpg' alt='pillowslipschristina1400' title='pillowslipschristina1400' /></span>
        </label>
        <label class='num1' for='cs_slide475_1'>
            <span class='cs_point'></span>
            <span class='cs_thumb'><img src='data475/tooltips/tinbed1400rev.jpg' alt='tinbed1400rev' title='tinbed1400rev' /></span>
        </label>
        <label class='num2' for='cs_slide475_2'>
            <span class='cs_point'></span>
            <span class='cs_thumb'><img src='data475/tooltips/tableclothswedding1400.jpg' alt='tableclothswedding1400' title='tableclothswedding1400' /></span>
        </label>
        <label class='num3' for='cs_slide475_3'>
            <span class='cs_point'></span>
            <span class='cs_thumb'><img src='data475/tooltips/pinaforepotter1400.jpg' alt='pinaforepotter1400' title='pinaforepotter1400' /></span>
        </label>
        <label class='num4' for='cs_slide475_4'>
            <span class='cs_point'></span>
            <span class='cs_thumb'><img src='data475/tooltips/ostellsummer1400.jpg' alt='ostellsummer1400' title='ostellsummer1400' /></span>
        </label>
    </div>
</div>
<!-- End cssSlider.com -->