<head>
  <meta charset="UTF-8">
    <meta name="p:domain_verify" content="221e5eb0ab754e747b086d0ed3d41fc8" />
    <title>Rough Linen - real, natural linen, the way it used to be</title>
    <link href="/styles/rough-linen-may-2015.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/engine475/style.css">
    <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css">
    <link href="/styles/rough-linen-footer.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/highslide/highslide.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css">
    
    <!-- end wrapper -->
    <script type="text/javascript" src="/engine475/gestures.js"></script>
    <script type="text/javascript" src="/highslide/highslide-full.js"></script>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
    <script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
    <script type="text/javascript">
    hs.graphicsDir = '/highslide/graphics/';
    hs.showCredits = false;
    </script>
</head>
