<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">products<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/products.html">products</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/bundles.html">bundles</a></li>
                        <li><a href="/sleep.html">sleep</a></li>
                        <li><a href="/eat.html">eat</a></li>
                        <li><a href="/cook.html">cook</a></li>
                        <li><a href="/bathe.html">bathe</a></li>
                        <li><a href="/shade.html">shade</a></li>
                        <li><a href="/pinafore.html">pinafore</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">about<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about.html">about</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/credo.html">credo</a></li>
                        <li><a href="/fabrics.html">fabrics</a></li>
                        <li><a href="/flax.html">flax</a></li>
                        <li><a href="/press.html">press</a></li>
                        <li><a href="/care.html">care</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">gallery<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/gallery.html">gallery</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/videos.html">videos</a></li>
                        <li><a href="/nothing-for-sale.html">not for sale</a></li>
                        <li><a href="/ruff-linen.html">ruff linen</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">community<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/community.html">community</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/join.html">join</a></li>
                    </ul>
                    <!-- end inner UL -->
                </li>
                <!-- end main LI -->
                <li><a href="/faq.html">Ask Tricia (FAQ)</a></li>
                <!-- end main LI -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">contact<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/contact.html">contact</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/sample-card.html">sample card</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-push-1 col-md-12">
        <a href="/index.html"><img class="logo" src="/images/rough-linen-logo.gif"></a>
    </div>
</div>
