<head>
  <meta charset="UTF-8">
    <meta name="p:domain_verify" content="221e5eb0ab754e747b086d0ed3d41fc8" />
    <title>Rough Linen - real, natural linen, the way it used to be</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/rough-linen-may-2015.css" rel="stylesheet" type="text/css">
    <link href="/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/rough-linen-footer.css" rel="stylesheet" type="text/css">
    <link href="/highslide/highslide.css" rel="stylesheet" type="text/css" >
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/highslide/highslide-full.js"></script>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
    <script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
    <script type="text/javascript" src="engine475/gestures.js"></script>
    <script type="text/javascript">hs.graphicsDir = '/highslide/graphics/';hs.showCredits = false;</script>
</head>
