<div id="navMenu">
    <ul>
        <li><a href="/products.html">products</a>
            <ul>
                <li><a href="/bundles.html">bundles</a></li>
                <li><a href="/sleep.html">sleep</a></li>
                <li><a href="/eat.html">eat</a></li>
                <li><a href="/cook.html">cook</a></li>
                <li><a href="/bathe.html">bathe</a></li>
                <li><a href="/shade.html">shade</a></li>
                <li><a href="/pinafore.html">pinafore</a></li>
            </ul>
            <!-- end inner UL -->
        </li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
    <ul>
        <li><a href="about.html">about</a>
            <ul>
                <li><a href="credo.html">credo</a></li>
                <li><a href="fabrics.html">fabrics</a></li>
                <li><a href="flax.html">flax</a></li>
                <li><a href="press.html">press</a></li>
                <li><a href="care.html">care</a></li>
            </ul>
            <!-- end inner UL -->
        </li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
    <ul>
        <li><a href="gallery.html">gallery</a>
            <ul>
                <li><a href="videos.html">videos</a></li>
                <li><a href="nothing-for-sale.html" class="fine_print">not for sale</a></li>
                <li><a href="ruff-linen.html">ruff linen</a></li>
            </ul>
            <!-- end inner UL -->
        </li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
    <ul>
        <li><a href="community.html">community</a>
            <ul>
                <li><a href="join.html">join</a></li>
            </ul>
            <!-- end inner UL -->
        </li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
    <ul>
        <li><a href="faq.html">ask Tricia (FAQ)</a></li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
    <ul>
        <li><a href="contact.html">contact</a>
            <ul>
                <li><a href="sample-card.html">sample card</a></li>
            </ul>
            <!-- end inner UL -->
        </li>
        <!-- end main LI -->
    </ul>
    <!-- end main UL -->
</div>
<!-- end mainnav -->
<div id="logo-home">
    <a href="index.html"><img class="logo" src="images/rough-linen-logo.gif" title="Rough Linen™ real, natural linen, the way it used to be" alt="Rough Linen™ real, natural linen, the way it used to be"></a>
</div>
