--- 
layout: default 
---
{% assign name = page.path | split:"/" | last | split:"." | first %}

<div id="community-member">
    <div style="position:absolute;top:-30px;left:500px;width:650px;height:42px;">
        <div style="position:absolute;top:115px;left:10px;width:42px;height:42px;">
            <a href="{{ pagination.previous_page_path }}"><img src="/images/arrow-for-community-left.jpg" alt="" height="42" width="42" border="0" /></a>
        </div>
        <div style="position:absolute;top:125px;left:149px;width:140px;height:40px;-adbe-c:c">
            <font face="Verdana, Arial, Helvetica, sans-serif">
                <font size="6">{{name}}</font>
            </font>
        </div>
        <div style="position:absolute;top:115px;left:362px;width:42px;height:42px;">
            <a href="{{ pagination.next_page_path }}"><img src="/images/arrow-for-community-right.jpg" alt="" height="42" width="42" border="0" /></a>
        </div>
    </div>
    <div style="position:absolute;top:165px;left:10px;width:394px;height:638px;">
        <img src="/contrib/{{name}}/01.jpg" alt="" width="394" height="638" border="0" /></div>
    <div style="position:absolute;top:408px;left:409px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/02.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/02.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:165px;left:412px;width:554px;height:212px;-adbe-c:c">
        <div align="left">
            {{content}}
        </div>
    </div>
    <div style="position:absolute;top:390px;left:409px;width:85px;height:12px;">
        <img src="/images/click.gif" alt="" width="85" height="12" border="0" /></div>
    <div style="position:absolute;top:408px;left:557px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/03.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/03.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:408px;left:705px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/04.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/04.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:408px;left:853px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/05.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/05.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:608px;left:409px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/06.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/06.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:608px;left:557px;width:143px;height:195px;">
        <a name="Shop for &lt;a href=&quot;http://www.roughlinen.com/rough-linen-sheet.html&quot;&gt;Smooth white linen sheet&lt;/a&gt;" href="/contrib/{{name}}/07.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/07.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:608px;left:705px;width:143px;height:195px;">
        <a href="/contrib/{{name}}/08.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/08.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
    <div style="position:absolute;top:608px;left:853px;width:143px;height:195px;">
        <a name="Shop for &lt;a href=&quot;http://www.roughlinen.com/rough-linen-sheet.html&quot;&gt;Smooth white linen sheet&lt;/a&gt;" href="/contrib/{{name}}/09.jpg" class="highslide" onclick="return hs.expand(this, config1 )"><img src="/contrib/{{name}}/09.jpg" alt="" width="141" height="193" border="0" /></a>
    </div>
</div>
<!-- community member -->
